@charset "UTF-8";

body {
    background-color: beige;
}
header {
    text-align: center;
}
section {
    background-color: aquamarine;
    text-align: center;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}