@charset "UTF-8";

 * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }
header {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

fieldset {
    text-align: center;
    width: 80vw;
    margin: auto;
    border-radius: 50px;
    padding-top: 25px;
    
}
.ajuste {
    text-align: center;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.5em;
}
.dma {
    text-align: center;
    margin: 10px;
    padding: 17px 52px;
    border-radius: 10px;
    font-size: 1.9em;
}
.ntdata {
    padding: 05px;
    margin-right: 36px;
}
.botoes {
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}
#limpar {
    background-color: rgba(241, 44, 18, 0.819);
}
#enviar {
    background-color: rgba(31, 213, 19, 0.83);
}
.idatas {
    padding: 5px;
}
