@charset "UTF-8";

@media screen and (max-width: 580px) {
    header, header > nav{
        flex-flow: column wrap;
    }

    header > h1 {
        flex-basis: 40px;
    }

    nav {
        width: 80%;
        margin: auto;
    }
    main {
        width: 95%;
        margin: auto;
    }
}
